.Modal {
	display: inline;
}

.Modal .screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .3);
}

.Modal .inner-modal {
	position: fixed;
	background: white;
	z-index: 100;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	overflow: hidden;
	top: 25%;
	left: 25%;
	right: 25%;
	padding: 20px;
	padding-bottom: 25px;
}
