.HOASearch {
	text-align: left;
}

.HOASearch .input {
	width: 100%;
	font-size: 16px;
}

.HOASearch .hoa-result {
	font-size: 16px;
	padding: 10px;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
	background: #79B99C;
	color: white;
}


.HOASearch .hoa-result:hover {
	background: #69a98C;
	cursor: pointer;
}
