/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.css';

.Navigation {
  border-bottom: 1px solid var(--gray-light);
  padding: 0px 10px;
  height: calc(60px - 1px);
  line-height: 60px;
  white-space: nowrap;

  .menu-button {
    padding: 10px;
  }
}

.Navigation-link {
  display: inline-block;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 17px;
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: var(--gray-darker);
}
