/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.Navigation {
  background: white;
  height: 60px;
}
.Navigation-link {
  display: inline-block;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  line-height: 60px;
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: #000;
}

.Navigation-link:hover {
  color: #000;
}

.Navigation-link--highlight {
  margin: 0px;
  margin-right: 8px;
  margin-left: 8px;
  background: rgba(0, 0, 0, .15);
  color: #fff;
}

.Navigation-link--highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.Navigation-spacer {
  color: rgba(255, 255, 255, .3);
}
