.ContextMenu {
	display: inline-block;
}

.ContextMenu .screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}

.ContextMenu .menu {
	position: fixed;
	background: white;
	z-index: 100;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	overflow: hidden;
}

.ContextMenu .menu .item {
	padding: 5px 10px;
	text-align: left;
}

.ContextMenu .menu .title {
	font-weight: 900;
	padding: 5px 10px;	
}

.ContextMenu .menu .item:hover {
	background: rgba(121,185,156, .8);
	color: white;
	cursor: pointer;
}
