/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';


.Header {
  background: var(--primary-color);
  color: #fff;
  height: 120px;
  line-height: 120px;

  h1 {
    color: white;
    margin: 0px auto;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    white-space: nowrap;
  }
}
