/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.css';

.Sidebar {
  .Sidebar-menu-hidden {
    left: -200px;
    transition-property: left;
    transition-duration: .5s;
  }

  .Sidebar-menu-visible {
    left: 0px;
    transition-property: left;
    transition-duration: .3s;
  }

 

  .Sidebar-menu {
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--gray-darker);
    background-image: url(bg.png);
    h1 {
      color: white;
      text-align: center;
      font-weight: 100;
    }

    a {
      text-decoration: none;
    }

    .menu-item {
      color: white;
      padding: 10px 20px;

      .fa {
        width: 30px;
      }
    }
    z-index: 5;
  }

  .Sidebar-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 4
  }

  .Sidebar-screen-hidden {
    width: 0px;
  }

  .Sidebar-screen-visible {
    width: 100%;
  }
}
